.background{
    background-color: #F8F9FA;
}

.title{
    font-size: 100px;
}

.content{
    height: 100vh;
}

.card-image-custom{
    width: 100%;
    
}

.card-custom{
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(10, 10, 10, 0.3);
    width: 225px;
}

.card-custom:hover{
    transform: scale(1.03);
    cursor: pointer;

}

.card-body-custom{
    background-color: red;
    color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

.card-custom:hover  > .card-body-custom{
    background-color: white;
    color: red;   
}

