<div class="container-fluid">
    <div class="row col-md-12 justify-content-center mt-2 mb-4 mx-0">
        <h3 class="text-uppercase">{{course}}</h3>
    </div>
    <div class="row col-md-10 offset-md-1 justify-content-center mb-5 px-0 schedule">

        <div class="row col-md-12 justify-content-between align-items-center" 
        style="background-color: red;">

            <button id="left" type="button" class="btn arrow" (click)="onArrowClick($event)">
                <i class="fas fa-arrow-left"></i>
            </button>
            <h3 class="text-uppercase weekTitle">semana {{currentWeek}}</h3>
            <button id="right" type="button" class="btn arrow" (click)="onArrowClick($event)">
                <i class="fas fa-arrow-right"></i>
            </button>

        </div>

        
        <div class="row col-md-12 px-0">

            <div class="d-flex flex-column col-md-1 px-0 schedule-hours">
                <div class="schedule-content schedule-header"> </div>
                <div class="d-flex justify-content-center align-items-center schedule-content"
                *ngFor="let hour of hours">
                    {{hour}}:00
                </div>
            </div>

            <div class="d-flex flex-column col-md px-0"
            *ngFor="let items of schedule">

                <div class="d-flex justify-content-center align-items-center schedule-header schedule-content">
                    {{items.day}}
                </div>

                <div class="d-flex justify-content-center align-items-center  schedule-content"
                *ngFor="let item of items.state; let indice = index">

                    <div id="{{items.day}}-{{hours[indice]}}"
                    (click)= "onFreeClick($event)"
                     [ngClass]="{
                        'free': item == 0,
                        'class': item == 1,
                        'reserved': item == 2}">
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
<!-- <button type="button" data-toggle="modal" data-target="#WarningModal">Launch modal</button> -->

<!--Warning Modal -->
<div id="WarningModal" class="modal fade" id="WarningModal" tabindex="-1" role="dialog" 
aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">AVISO!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          {{modalErrorMessage}}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-custom" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

