<div class="container-fluid background">
    <div style="height: 100vh;" class="row justify-content-center align-items-center overlay">
        <div style="height: 300px; width: 400px;" class="row justify-content-center login-box">

            <div style="background-color: red; height: 40px;" class="row col-12 
            justify-content-center align-items-center">
                <h3 style="color: white; font-size: 20px;"> Inicia Sesion</h3>
            </div>

            <form class="col-10 offset-1" (ngSubmit)="onSumit()" [formGroup] = "form">

                <div class = "form-row mt-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="usernamePrepend">
                            <i class="fas fa-user"></i>
                          </span>
                        </div>
                        <input type="text" class="form-control" id="username" 
                        placeholder="username" formControlName= "username">
                    </div>
                </div>
                
                <div class = "form-row mt-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="passwordPrepend">
                            <i class="fas fa-lock"></i>
                          </span>
                        </div>
                        <input type="password" class="form-control" id="password" 
                        placeholder="password" formControlName= "password">
                    </div>
                </div>

                <button type="submit" style="background-color: red; color: white;" 
                class="btn offset-4 col-4 mt-3" 
                [disabled]="form.invalid">
                Acceder
                </button>
            </form>
        </div>
    </div>
</div>

