<nav class="navbar navbar-expand-lg sticky-top">
  
    <a class="navbar-brand" [routerLink]="['/home/edificios']">
        <img src="../../../assets/images/logo-intec.svg" style="height: 70px;" class="ml-2">
    </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#options" 
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars navbar-toggler-icon"></i>
  </button>

  <div class = "collapse navbar-collapse" id="options">
      <div class = "navbar-nav ml-auto">
            <a class="nav-item nav-link mr-3 btn-custom" [routerLink]="['/home/disponible-ahora']" >
                Disponibles ahora
            </a>
            <a class="nav-item nav-link mr-3 btn-custom" [routerLink]="['/home/my-reservation']" >
                Mis Reservas
            </a>
            <a class="nav-item nav-link navbar-link" [routerLink]="['']" >
                <i class="fas fa-sign-out-alt"></i>
            </a>
      </div>   
  </div>
</nav>
<router-outlet></router-outlet>


