<button type="button" class="btn btn-primary my-3 mx-3" (click)= "getAllUsers()">getAllUsers</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click)= "getAllUserById()">getAllUserById</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click)= "getHorario()">getHorario</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "getCursoDisponible()">getCursoDisponible</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "registerUser()">registerUser</button>
<button type="button" class="btn btn-primary my-3 mx-3"  (click) = "login()">login</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "verifyUserExists()">verifyUserExists</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "getReservas()">getReservas</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "getReservaGrupo()">getReservaGrupo</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "getPersonasReserva()">getPersonasReserva</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "getEdificios()">getEdificios</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "getCursos()">getCursos</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "addReserva()">addReserva</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "eliminarReserva()">eliminarReserva</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "salirGrupo()">salirGrupo</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "getCursoEdificio()">getCursoEdificio</button>
<button type="button" class="btn btn-primary my-3 mx-3" (click) = "VerifyPersonaExists()">VerifyPersonaExists</button>
