.box{
    box-shadow: 0.5px 0.5px 2.5px 2.5px #C9C9C9;
    height: 200px;
    background-color: red;
    color: white;
    font-size: 25px;
    font-weight: bold;
    transition: all 0.3s;
    border-radius: 10px;
    height: 125px;
    width: 250px;
}


.box:hover{
    background-color: white;
    color: red;
    transform: scale(1.03);
}

.overlay{
    background-color: rgba(0,0,0,0.3);
    position: absolute;

}

.title{
    color: white;
}

.img-custom{
    height: 120px;
    position: relative;
}

.img{
    object-fit: cover;
}