<div class="mx-3 my-4 card-custom">
    <div class="card">

        <i *ngIf="isUserReservation" class="fas fa-trash-alt trash-icon mr-2 mt-2" 
        id = "{{reservationInfo.id}}"
        (click)="deleteReservation($event)"></i>

        <i *ngIf="!isUserReservation" class="fas fa-trash-alt trash-icon mr-2 mt-2" 
        id = "{{reservationInfo.id}}"
        (click)="deleteGroup($event)"></i>

        <div class="card-body px-3">
        <div class="d-flex px-0 mx-0">
            <h2 class="text-center my-auto course-title">{{reservationInfo.course}}</h2> 
            <div class="col-md">
                <p class="text-right mb-0 font-weight-bold">{{reservationInfo.date}} <br>
                    Semana {{reservationInfo.week}} <br>
                {{getDateString(reservationInfo.day)}} <br>
                {{reservationInfo.iniTime}}:00 - {{reservationInfo.endTime}}:00</p>
            </div>
        </div>
        </div>
    </div>
</div>

