<div class="mx-3 my-4 card-custom">
    <div class="card">
        <i class="fas fa-trash-alt trash-icon mr-2 mt-2"></i>
        <div class="card-body px-3">
        <div class="d-flex px-0 mx-0">
            <h2 class="text-center my-auto course-title">{{reservationInfo.course}}</h2> 
            <div class="col-md">
                <p class="text-right mb-0 font-weight-bold">{{reservationInfo.date}}</p>
                <p class="text-right mb-0 font-weight-bold">Semana {{reservationInfo.week}} - 
                {{reservationInfo.day}}</p>
                <p class="text-right mb-0 font-weight-bold">{{reservationInfo.iniTime}}:00 - 
                    {{reservationInfo.endTime}}:00</p>
            </div>
        </div>
        </div>
    </div>
</div>
